main
{
    margin-left: 25%;
    width: 70%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 5%;
}

.body
{
    display: flex;
    align-items: center;
}


.home_pic
{
    min-width: 480px;
}